<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.OrderMapper">

    <!--  根据订单对象插入订单  -->
    <insert id="createOrder" parameterType="com.cykj.pojo.Orders">
        INSERT INTO Orders (order_number, user_id, order_date, total_amount,payment_status)
        VALUES (#{orderNumber}, #{userId}, NOW(), #{totalAmount},#{paymentStatus});
    </insert>

    <!--    通过订单号查询订单id-->
    <select id="getOrderIdByOrderNumber" resultType="java.lang.Long">
        select order_id from Orders where order_number = #{orderNumber}
    </select>

    <!-- 查找细项还没有检查的订单 -->
    <select id="getUnDetailOrders" resultType="com.cykj.pojo.Orders">
        select * from Orders where order_id in
        (select distinct order_id from Detail_Result where result IS NULL)
    </select>

</mapper>