<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.PackageMapper">
    <!--    添加套餐-->
    <insert id="addPackage" parameterType="com.cykj.pojo.Packages">
        INSERT INTO Package (package_name, price, is_deleted)
        VALUES (#{packageName}, #{price},#{isDeleted})
    </insert>


    <!--    修改套餐信息-->
    <update id="updatePackageById" parameterType="com.cykj.pojo.Packages">
        UPDATE Package SET package_name = #{packageName},
                        price = #{price},
                        is_deleted = #{isDeleted}
        WHERE
            package_id = #{packageId}
    </update>

    <!--    根据套餐名称查找套餐信息-->
    <select id="getPackageByNameLike" resultType="com.cykj.pojo.Packages">
        select * from Package
        where package_name like CONCAT('%', #{packageName}, '%')
    </select>

    <!--    根据用户余额获取可购买套餐-->
    <select id="getAvailablePackages" resultType="com.cykj.pojo.Packages">
        select * from Package
        where #{maxPrice} >= price
    </select>

    <!--    根据id查询套餐-->
    <select id="getPackageById" resultType="com.cykj.pojo.Packages">
        select * from Package
        where package_id = #{packageId}
    </select>

    <!--    根据订单号查询套餐-->
    <select id="getPackageByOrderNumber" resultType="com.cykj.pojo.Packages">
        select * from Package
               where package_id = (select package_id from Order_Detail
               where order_number = #{orderNumber})
    </select>




</mapper>