<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.DetailItemMapper">
    <!--    根据项目id查询所有细项-->
    <select id="getDetailItemsByItemId" resultType="com.cykj.pojo.DetailItem">
        select * from Detail_Item where detail_item_id in
                                        (select detail_item_id from Item_Detail_Relation where item_id = #{itemId})
    </select>
</mapper>